/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bd-navbar {
    background-color: #7952b3;
}
a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.textDiv {
    background-color: white;
    margin: 10px;
    padding: 5px;
}

nav {
    width: 100%;
}
textarea {
    width: 100%;
}
.header-content {
    justify-content: space-between;
}
.content-top {
    margin-right:10px;
}

.content {
    width: 95%;
    /*    height: 400px;*/
    border: 1px solid gray;
    background-color: aliceblue;
    margin-bottom: 30px;
    word-wrap: break-word;
}
.img-wrap {
    padding: 10px;
}
img {
   /* margin:10px;*/
}



.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

    .rating-area:not(:checked) > input {
        display: none;
    }

    .rating-area:not(:checked) > label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
        line-height: 32px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

        .rating-area:not(:checked) > label:before {
            content: '★';
        }

    .rating-area > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .rating-area:not(:checked) > label:hover,
    .rating-area:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating-area > input:checked + label:hover,
    .rating-area > input:checked + label:hover ~ label,
    .rating-area > input:checked ~ label:hover,
    .rating-area > input:checked ~ label:hover ~ label,
    .rating-area > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }

.rate-area > label:active {
    position: relative;
}





.rating-result {
    width: 265px;
    margin: 0;
}

    .rating-result span {
        padding: 0;
        font-size: 32px;
        margin: 0 3px;
        line-height: 1;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

    .rating-result > span:before {
        content: '★';
    }

    .rating-result > span.active {
        color: gold;
        text-shadow: 1px 1px #c60;
    }
.score {
    color: #ff9800 !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    margin: 2px 6px 0 0 !important;
    margin-top: 3px !important;
}